#tablingDate.active {
  display: block;
  position: absolute;
  top: 35px;
  left: -90px;
  z-index: 100;
}
#tabling .public_fixedDataTable_main a {
  color: #331919;
}
#tabling .public_fixedDataTable_bodyRow:hover * {
  background-color: #eef;
}
@media only screen and (max-width: 640px) {
  #tablingDate.active {
    left: -200px;
    width: 300px;
  }
}
