#tableView {
  margin-bottom: 1rem;
}
#tableView .title {
  position: relative;
  margin: 0rem;
  padding-left: 0.5rem;
  padding-bottom: 1.6rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background-color: #eee;
  color: #331919;
  border-bottom: 2px solid #0e90d2;
}
#tableView .title .subTitle {
  position: absolute;
  top: 0rem;
  left: 4rem;
  letter-spacing: normal;
  font-size: 3rem;
  color: #333;
  opacity: 0.2;
}
#tableView .title:before {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 1.2rem;
  content: "";
  z-index: 1;
  border: 6px transparent solid;
  border-bottom-color: #0e90d2;
}
#tableView .title:hover .subTitle {
  text-shadow: 1px 1px 2px #003;
  opacity: 0.4;
}
#tableView .public_fixedDataTable_main a {
  color: #331919;
}
#tableView .public_fixedDataTable_bodyRow:hover * {
  background-color: #eef;
}
#timePickerContainer {
  position: relative;
}
#timePicker.active {
  display: block;
  position: absolute;
  top: 25px;
  z-index: 10;
}
